To determine the force requirements, optimal vector, and appropriate materials of a novel eyelid sling device that will be used to rehabilitate eyelid closure (blink) in congenital or acquired permanent facial paralysis with an artificial muscle.

https://www.ncbi.nlm.nih.gov/pubmed/20083738