以新型冠状病毒肺炎为代表的新发呼吸道传染病传播与流行成为一个重要的公共卫生问题。重点场所防护和消毒措施不当是新型冠状病毒肺炎传播和流行的潜在风险因素。本期重点号以新型冠状病毒肺炎防控为着眼点，从宾馆、方舱医院、客运场站和公共交通工具等重点场所功能分区、环境与设施、个人防护、运行管理制度等多方面、多角度提出防护与消毒的综合措施与建议，期望为新发呼吸道传染病防控提供技术支持。.

https://www.ncbi.nlm.nih.gov/pubmed/32268634