Social distancing measures have been put in place to reduce social interaction to slow transmission of coronavirus (COVID-19). For older people, self-isolation presents particular challenges for mental health and social relationships. As time progresses, continued social distancing could have a compounding impact on these concerns.

https://www.ncbi.nlm.nih.gov/pubmed/32348293